@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

/*Sección general*/
body {
    font-family: Poppins, sans-serif;
    background-color: #041562;
}

/*Primera página*/
#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 32px;
}

.subtitulo {
    color: white;
    font-size: 20px;
}

.tarjetas {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background: #11468F;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.tarjeta-de-mokepon img {
    width: 80px;
}

input {
    display: none;
}

.titulo {
    font-size: 32px;
    color: white;
}

.subtitulo {
    color: white;
    font-size: 20px;
}

#mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjetas, .tarjetas-ataque {
    display: flex;
    gap: 15px;
}

.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background: #11468F;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.tarjeta-de-mokepon img {
    width: 80px;
}

#boton-mascota {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    margin-top: 30px;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid white;
    color: white;
}

input {

}

input:checked + label {
    transition-duration: .5s;
    background: #5D8BF4;
}

/*Segunda página*/
#ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ataques {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    background-color: #11468F;
    padding: 10px;
    border-radius: 20px;
    border-color: transparent;
    width: 180px;
    color: white;
}

#mensajes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EEEEEE;
    width: 280px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

#boton-reinicio {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    border: none;
    color: #11468F;
}

.stats {
    display: grid;
    grid-template-columns: 100px 100px;
    color: white;
}

#spanVidasJugador, #spanVidasEnemigo {
    font-size: 32px;
    margin-bottom: 0;
}

.jugador, .enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Responsive*/
@media (max-width: 632px) {
    .tarjetas, .tarjetas-ataque{
        flex-direction: column;
    }
}